<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="lab01.master.cs" Inherits="DotNet_Lab1.lab01" %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Payload</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../Styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../Styles/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../Styles/Overide.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>


    <form runat="server">
        <div class="row">
            <div class="col m12">
            </div>
        </div>



        <nav class="blue" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo white-text">Payload</a>
                <ul class="right hide-on-med-and-down">



                    <%--cph for search shit--%>
                    <asp:ContentPlaceHolder ID="cphSearch" runat="server">
                    </asp:ContentPlaceHolder>





                    <li>
                        <asp:LinkButton ID="lbLoginState" runat="server" Text="asdf" OnClick="lbLoginState_Click" CssClass="white-text" /></li>
                    <li>
                        <asp:LinkButton ID="lbAdminPanel" runat="server" OnClick="lbAdminPanel_Click" CssClass="white-text"></asp:LinkButton></li>
                </ul>






                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br>
                    <br>
                    <h1 class="header center teal-text text-lighten-2">
                        <asp:Label ID="lblGreetings" runat="server" Text="Label" CssClass="header center teal-text text-lighten-2"></asp:Label></h1>


                    <div class="row center">
                        <h3 class="header col s12 light">A modern responsive front-end framework based on Material Design</h3>
                    </div>
                    
                    <br>
                    <br>
                </div>
            </div>
            <div class="parallax">
                <img src="../Images/background1.jpg" alt="Unsplashed background img 1">
            </div>
        </div>


        <div class="container">
            <div class="section">




                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>


            </div>


        </div>



        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h3 class="header col s12 light">A modern responsive front-end framework based on Material Design</h3>
                    </div>
                </div>
            </div>
            <div class="parallax">
                <img src="../Images/background2.jpg" alt="Unsplashed background img 2">
            </div>
        </div>

        <div class="container">
            <div class="section">
                <div class="col m12">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h3 class="center">Speeds up development</h3>


                    </div>
                </div>



            </div>
        </div>


        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h3 class="header col s12 light">A modern responsive front-end framework based on Material Design</h3>
                    </div>
                </div>
            </div>
            <div class="parallax">
                <img src="../Images/background3.jpg" alt="Unsplashed background img 3">
            </div>
        </div>





        <div class="container">
            <div class="section">
                <div class="col m12">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h3 class="center">Speeds up development</h3>


                    </div>
                </div>


            </div>
        </div>


        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h3 class="header col s12 light">A modern responsive front-end framework based on Material Design</h3>
                    </div>
                </div>
            </div>
            <div class="parallax">
                <img src="../Images/background3.jpg" alt="Unsplashed background img 3">
            </div>
        </div>

        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h3 class="white-text">Company Bio</h3>
                        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                    </div>
                    <div class="col l3 s12">
                        <h3 class="white-text">Settings</h3>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h3 class="white-text">Connect</h3>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                </div>
            </div>
        </footer>


        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../Scripts/materialize.js"></script>
        <script src="../Scripts/init.js"></script>

        <script>
            document.querySelector('body').style.fontFamily = "bignoodletitlingoblique";
        </script>
    </form>
</body>
</html>
