@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../Fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../Fonts/big_noodle_titling_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav {
    position:fixed;
    top: 0px;
    z-index: 2;
    font-size:25px;
}

body {
    padding-top:75px;
}

.btn {
   width: 100%;
   font-size:25px;
   height:50px;
   padding-top:10px;

}
#cphSearch_txtSearch {
    position:relative;
    top:22px;
    width:200px;
}

.bignoodle {
    font-family: 'bignoodletitlingoblique';
    font-weight: normal;
    font-style: normal;
}

#lbLoginState {
    font-size:25px;
}

#logo-container {
    font-size:40px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #2196F3 inset;
}