@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../Fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../Fonts/big_noodle_titling_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav {
    position:fixed;
    top: 0px;
    z-index: 2;
    font-size:25px;
}

body {
    padding-top:75px;
    font-family:'bignoodletitlingoblique';
}

.btn {
   width: 100%;
   font-size:25px;
   height:50px;
   padding-top:10px;

}
#cphSearch_txtSearch {
    position:relative;
    top:22px;
    width:200px;
}


#lbLoginState {
    font-size:25px;
}

#logo-container {
    font-size:40px;
}

#ContentPlaceHolder1_pnlCasualRow1, #ContentPlaceHolder1_pnlCasualRow2, #ContentPlaceHolder1_pnlCompetitiveRow1, #ContentPlaceHolder1_pnlCompetitiveRow2 {
    font-family:'bignoodletitlingoblique';
    font-size:20px;
}

#lbPlayerInfo, #lbUsers, #lbStreams, #lbHome, #lbAdminPanel {
    font-size:25px;
}

#ContentPlaceHolder2_imgHero {
    height:250px;
}

#ctl00 > div:nth-child(8) > div > div > div > div > div.row.s6 > div:nth-child(4)   {
    padding-left:50px;
}