@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../Fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../Fonts/big_noodle_titling_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav {
    position:fixed;
    top: 0;
    z-index: 2;
    font-size:25px;
}

body {
    
    font-family:'bignoodletitlingoblique';
}

#index-banner > div.section.no-pad-bot > div > h1 {
    padding-top:20px;
}

.btn {
    width: 100%;
    font-size: 25px;
    height: 50px;
    padding-top: 10px;
}
#cphSearch_txtSearch {
    position:relative;
    top:22px;
    width:200px;
}


#lbLoginState {
    font-size: 20px;
}

#logo-container {
    font-size:40px;
}

#ContentPlaceHolder1_pnlCasualRow1, #ContentPlaceHolder1_pnlCasualRow2, #ContentPlaceHolder1_pnlCompetitiveRow1, #ContentPlaceHolder1_pnlCompetitiveRow2 {
    font-family:'bignoodletitlingoblique';
    font-size:20px;
}

#lbPlayerInfo, #lbUsers, #lbStreams, #lbHome, #lbAdminPanel {
    font-size: 20px;
}

#ContentPlaceHolder2_imgHero {
    height:250px;
}



#ContentPlaceHolder2_lblSecSearch, #ContentPlaceHolder1_lblPassword, #ContentPlaceHolder1_lblEmail, #ContentPlaceHolder1_lblConfirmPassword,
#ContentPlaceHolder1_lblStreamID, #ContentPlaceHolder1_lblStreamName, #ContentPlaceHolder1_lblStreamPoints, #ContentPlaceHolder1_lblStreamIsBanned,
#ContentPlaceHolder1_lblUsrEmail, #ContentPlaceHolder1_lblUserPassword, #ContentPlaceHolder1_lblUserRank, #ContentPlaceHolder1_lblUserIsBanned,
#ContentPlaceHolder1_lblUserIsAdmin, #ContentPlaceHolder1_lblUserID, #ContentPlaceHolder1_lblBattleID, #ContentPlaceHolder1_lblBattleTag, #ContentPlaceHolder1_lblTopHero,
#ContentPlaceHolder1_lblPlayerRank, #ContentPlaceHolder1_lblPlayTime {
    font-size: 20px;
}

#ctl00 > footer > div.container > div > div.col.l3.s12 {
    float:right;
}

#ctl00 > nav > div a {
    font-size:20px;
}


#ContentPlaceHolder2_divPlayername, #ContentPlaceHolder2_divPlayerLevel {
    font-size: 20px;
}
